<table class="table table-condensed table-bordered table-striped">
    <thead>
    <tr>
        <th style="width: 25%">{{#_i18n}}Subject{{/_i18n}}</th>
        <th style="width: 15%; text-align: center">{{#_i18n}}Initiator{{/_i18n}}</th>
        <th style="width: 15%; text-align: center">{{#_i18n}}Executor{{/_i18n}}</th>
        <th style="width: 15%; text-align: center">{{#_i18n}}Creation{{/_i18n}}</th>
        <th style="width: 15%; text-align: center">{{#_i18n}}Completion{{/_i18n}}</th>
        <th style="width: 15%; text-align: center">{{#_i18n}}Duration{{/_i18n}}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>