<div class="row">
    <div class="span12">
        <fieldset>
            <legend>{{#_i18n}}Create New Process{{/_i18n}}</legend>
            <input type="text" class="input-block-level" name="title" placeholder="{{#_i18n}}Process Title{{/_i18n}}" />
            <br/>
            <textarea style="resize: none" rows="6" class="input-block-level" name="description" placeholder="{{#_i18n}}Description{{/_i18n}}"></textarea>
            <br/>
            <a id="create-process" href="#processes" class="btn btn-big btn-success"><i class="icon-edit"></i> {{#_i18n}}Create New Process{{/_i18n}}</a>
        </fieldset>
    </div>
</div>