<div class="span12">
    <form>
        <fieldset>
            <legend>{{#_i18n}}Edit Profile{{/_i18n}}</legend>
            <label><b>{{#_i18n}}Name{{/_i18n}}</b></label>
            <input type="text" name="name" placeholder="{{#_i18n}}First and Last name{{/_i18n}}" value="{{name}}">
            <label><b>{{#_i18n}}Email{{/_i18n}}</b></label>
            <input type="text" name="email" placeholder="{{#_i18n}}Email address{{/_i18n}}" value="{{email}}">
            <br/>
            <button id="save-profile" type="button" class="btn btn-success save-changes">{{#_i18n}}Save Changes{{/_i18n}}</button>
        </fieldset>
    </form>
</div>