<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h3>{{#_i18n}}Edit Data Object{{/_i18n}}</h3>
</div>
<div class="modal-body">
    <b>{{label}}</b>
    <br/>
    <a href="#">Download</a><br/>
    <input type="file" name="value" />

</div>
<div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true" class="btn">{{#_i18n}}Cancel{{/_i18n}}</button>
    <button id="upload-data-object" class="btn btn-primary">{{#_i18n}}Update Data Object{{/_i18n}}</button>
</div>
