<ul class="nav nav-pills nav-stacked">
    <li id="inbox-folder" class="folder-filter-pill"><a href="#folders/inbox"><i class="icon-inbox"></i> {{#_i18n}}Inbox{{/_i18n}}</a></li>
    <li id="executing-folder" class="folder-filter-pill"><a href="#folders/executing"><i class="icon-cog"></i> {{#_i18n}}Executing{{/_i18n}}</a></li>
    <li id="sent-folder" class="folder-filter-pill"><a href="#folders/sent"><i class="icon-share-alt"></i> {{#_i18n}}Sent{{/_i18n}}</a></li>
    <li id="completed-folder" class="folder-filter-pill"><a href="#folders/completed"><i class="icon-ok-circle"></i> {{#_i18n}}Completed{{/_i18n}}</a></li>
</ul>