<div class="span12">    
    <form>
      <fieldset>
        <legend>Edit Profile</legend>
        <label>Name</label>
        <input type="text" name="name" placeholder="First and Last name" value="<%= name %>">
        <span class="help-block">Your first and last name (e.g. John Doe)</span>
        <label>Email</label>
        <input type="text" name="email" placeholder="Email Address" value="<%= email %>">
        <span class="help-block">Your email address</span>
        <button type="submit" class="btn save-changes">Save Changes</button>
      </fieldset>
    </form>
    
</div>