<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Worklr</display-name>
    <servlet>
        <servlet-name>worklr-servlet</servlet-name>
        <servlet-class>pt.ist.worklr.utils.Bootstrap</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>pt.ist.worklr</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>worklr-servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetEncodingFilter</filter-name>
        <filter-class>pt.ist.worklr.filter.CharsetEncodingFilter</filter-class>
        <init-param>
			<param-name>defaultCharset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
    </filter>

    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>pt.ist.worklr.filter.TransactionFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>pt.ist.worklr.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetEncodingFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

</web-app>